@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/MontserratAlternates-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/MontserratAlternates-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Thin.woff2") format("woff2"), url("../fonts/MontserratAlternates-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  background-color: red;
  color: #d4c70b;
}

.no-webp .title-box {
  background: url("../img/spider-img.jpg") 0 0 no-repeat; }

.title-box {
  width: 1200px;
  height: 675px;
}

.title-box h1 {
  text-align: center;
}

.btn {
  cursor: pointer;
  background: transparent;
  border: 1px solid #ffffff;
}

.svg-decor-element-dims {
  width: 40px;
  height: 40px;
  stroke: #ffffff;
}

@media (min-width: 1200px) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

.webp .title-box { background: url(../img/spider-img.webp) 0 0 no-repeat; }