@import 'fonts';
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  background-color: red;
  color: #d4c70b;
}

@media (min-width: 1200px) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}
main {
  background: url('@img/image-1.png') 0 0 no-repeat;
}
